@import 'vendor/casper';
@import 'vendor/flag';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.search{
  .st-default-search-input{
      
    width: 70%;
  }
  padding: 90px 9% 5%;
}


.page-title{
  a{
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000;
  }
}

.page-description{
  text-shadow: 1px 1px 1px #000000;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 40px;
  padding-top: 25px;
  height: 0;
  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
