@import 'vendor/casper';
@import 'vendor/flag';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.page-title{
  a{
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000;
  }
}

.page-description{
  text-shadow: 1px 1px 1px #000000;
}